.restaurantLink {
  height: 40px;
  margin: 8px auto 0 auto;
  display: grid;
  grid-template-columns: 280px 160px 160px 240px;
  font-size: 18px;
}

.restaurantLink.header {
  margin-bottom: 12px;
  font-size: 20px;
}

.restaurantLink.header button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.restaurantLink.header button.restaurantName {
  text-align: start;
}

.restaurantLink.header button.rating {
  text-align: center;
}

.restaurantLink.header button.sorted {
  font-weight: bold;
}

.restaurantName {
  text-align: start;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating .text {
  display: none;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .restaurantLink {
    height: 24px;
    grid-template-columns: 120px 80px 80px 60px;
    font-size: 10px;
  }

  .restaurantLink.header {
    font-size: 10px;
  }

  .rating {
    text-align: center;
  }

  .rating .star {
    display: none;
  }

  .rating .text {
    display: block;
  }
}