.container {
  min-height: 100vh;
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Share Tech Mono, monospace;
  text-align: center;
}

.container:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
  box-shadow: inset 0px 0px 250px #000;
  pointer-events: none;
}

.header {
  margin: 16px 0 32px 0;
}

.preTitle {
  color: gray;
  font-size: 32px;
}

.title {
  font-size: 112px;
  line-height: 0.9;
  margin: 24px 0 8px 0;
}

  
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .title {
    font-size: 92px;
  }

  .preTitle {
    font-size: 28px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .title {
    font-size: 84px;
  }

  .preTitle {
    font-size: 24px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .title {
    font-size: 72px;
  }

  .preTitle {
    font-size: 20px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .title {
    font-size: 64px;
  }

  .preTitle {
    font-size: 16px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    min-height: auto;
  }

  .header {
    margin-bottom: 24px;
  }

  .container {
    justify-content: flex-start;
  }

  .container:after {
    content: none;
    box-shadow: inset 0px 0px 50px #000;
  }

  .preTitle {
    font-size: 14px;
  }

  .title {
    font-size: 32px;
  }
}